<!doctype html>
<html lang="fr-FR">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/settings.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/owl.theme.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/custom.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7CPT+Sans:400,400i,700,700i" />
</head>
<body>
<div class="site">
    <div id="main">
        <div class="section section-bg-28">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ds-table section-fullscreen fullwidth">
                            <div class="ds-cell text-center middle">
                                <h2 class="section-title fw-600 fz-86 fz-xs-35 lh-86 lh-xs-40 ls-10 mb-1">NetADN</h2>
                                <h2 class="section-title fw-600 fz-66 fz-xs-35 lh-66 lh-xs-40 ls-6 mb-4">Not Found</h2>
                                <p class="fz-18 fz-xs-14 lh-30">
                                    La page que vous recherchez n'existe pas ou a été déplacée.<br>
                                    Vous pouvez retourner sur la page d'accueil afin de lancer une recherche sur le site.
                                </p>
                                <div class="countdown-wrap mb-3">
                                    <div class="countdown-content">
                                        <div class="pl-clock countdown-bar" data-time="2017/10/10"></div>
                                    </div>
                                </div>
                                <div class="widget-area-social">
                                    <div class="widget-area-social-links text-center mt-0">
                                        <div class="link big twitter-link">
                                            <div class="link-background"></div>
                                            <div class="link-overlay"></div>
                                            <i class="fa fa-twitter"></i>
                                        </div>
                                        <div class="link big linkedin-link">
                                            <div class="link-background"></div>
                                            <div class="link-overlay"></div>
                                            <i class="fa fa-linkedin"></i>
                                        </div>
                                        <div class="link big google-link">
                                            <div class="link-background"></div>
                                            <div class="link-overlay"></div>
                                            <i class="fa fa-google"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a id="backtotop" class="fa fa-chevron-up" href="javascript:void(0)"></a>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/modernizr-2.7.1.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type='text/javascript' src='js/waypoints.min.js'></script>
<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="js/jquery.equalheights.min.js"></script>
<script type="text/javascript" src="js/functions.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>