<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="widget-area-social">
                        <div class="widget-area-social-links text-center mt-0">
                            <div class="link big facebook-link">
                                <div class="link-background"></div>
                                <div class="link-overlay"></div>
                                <i class="fa fa-facebook"></i>
                            </div>
                            <div class="link big twitter-link">
                                <div class="link-background"></div>
                                <div class="link-overlay"></div>
                                <i class="fa fa-twitter"></i>
                            </div>
                            <div class="link big linkedin-link">
                                <div class="link-background"></div>
                                <div class="link-overlay"></div>
                                <i class="fa fa-linkedin"></i>
                            </div>
                            <div class="link big google-link">
                                <div class="link-background"></div>
                                <div class="link-overlay"></div>
                                <i class="fa fa-google"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    © Tous droits réservés <a class="color" href="//netadn.com">NetADN</a>
                </div>
            </div>
        </div>
    </div>
</footer>

</div>