<div class="fullscreen-search">
    <form class="form-search">
        <input type="text" name="s" placeholder="Votre recherche..." />
        <span class="km-input-border"></span>
    </form>
    <div class="netadn-search-closer">✕</div>
</div>