<div class="col-md-3">
    <div class="sidebar">
        <div class="widget widget_search">
            <form class="search-form">
                <div>
                    <input type="text" value="" placeholder="Search Site" name="s" id="s" />
                </div>
            </form>
        </div>
        <div class="widget widget_categories">
            <h3 class="widget-title">Categories</h3>
            <ul>
                <li><a href="#">Food</a></li>
                <li><a href="#">Miscellaneous</a></li>
                <li><a href="#">Mockup</a></li>
                <li><a href="#">Nature</a></li>
                <li><a href="#">Travel</a></li>
                <li><a href="#">Wisdom</a></li>
                <li><a href="#">Workshop</a></li>
            </ul>
        </div>
        <div class="widget widget_recent_post">
            <h3 class="widget-title">Recent Posts</h3>
            <div class="recent-post-item">
                <a href="blog-detail.html" class="thumb">
                    <img src="images/blog/thumb/blog_1.jpg" alt="" />
                </a>
                <div class="blog-info">
                    <a href="blog-detail.html" class="title">Eligendi Cumque</a>
                    <span class="date">
													<i class="fa fa-calendar-o"></i>
													July 24th, 2016
												</span>
                </div>
            </div>
            <div class="recent-post-item">
                <a href="blog-detail.html" class="thumb">
                    <img src="images/blog/thumb/blog_2.jpg" alt="" />
                </a>
                <div class="blog-info">
                    <a href="blog-detail.html" class="title">Voluptas Aspernatur</a>
                    <span class="date">
													<i class="fa fa-calendar-o"></i>
													July 24th, 2016
												</span>
                </div>
            </div>
            <div class="recent-post-item">
                <a href="blog-detail.html" class="thumb">
                    <img src="images/blog/thumb/blog_3.jpg" alt="" />
                </a>
                <div class="blog-info">
                    <a href="blog-detail.html" class="title">Expedita Distinctio</a>
                    <span class="date">
													<i class="fa fa-calendar-o"></i>
													July 24th, 2016
												</span>
                </div>
            </div>
        </div>
        <div class="widget">
            <h3 class="widget-title">Find Us</h3>
            <a class="social-link" href="#"><i class="fa fa-facebook"></i></a>
            <a class="social-link" href="#"><i class="fa fa-twitter"></i></a>
            <a class="social-link" href="#"><i class="fa fa-google-plus"></i></a>
            <a class="social-link" href="#"><i class="fa fa-youtube"></i></a>
            <a class="social-link" href="#"><i class="fa fa-linkedin"></i></a>
            <a class="social-link" href="#"><i class="fa fa-pinterest-p"></i></a>
            <a class="social-link" href="#"><i class="fa fa-instagram"></i></a>
            <a class="social-link" href="#"><i class="fa fa-github"></i></a>
            <a class="social-link" href="#"><i class="fa fa-tumblr"></i></a>
            <a class="social-link" href="#"><i class="fa fa-dribbble"></i></a>
            <a class="social-link" href="#"><i class="fa fa-soundcloud"></i></a>
            <a class="social-link" href="#"><i class="fa fa-vine"></i></a>
            <a class="social-link" href="#"><i class="fa fa-rss"></i></a>
            <a class="social-link" href="#"><i class="fa fa-reddit"></i></a>
        </div>
        <div class="widget">
            <h3 class="widget-title">Our Work</h3>
            <div class="mt-2"></div>
            <a class="widget-folio" href="images/portfolio/portfolio_1.jpg" data-rel="prettyPhoto[gallery]">
                <img src="images/portfolio/thumb/portfolio_5.jpg" alt="" />
            </a>
            <a class="widget-folio" href="images/portfolio/portfolio_2.jpg" data-rel="prettyPhoto[gallery]">
                <img src="images/portfolio/thumb/portfolio_6.jpg" alt="" />
            </a>
            <a class="widget-folio" href="images/portfolio/portfolio_3.jpg" data-rel="prettyPhoto[gallery]">
                <img src="images/portfolio/thumb/portfolio_1.jpg" alt="" />
            </a>
            <a class="widget-folio" href="images/portfolio/portfolio_4.jpg" data-rel="prettyPhoto[gallery]">
                <img src="images/portfolio/thumb/portfolio_7.jpg" alt="" />
            </a>
            <a class="widget-folio" href="images/portfolio/portfolio_5.jpg" data-rel="prettyPhoto[gallery]">
                <img src="images/portfolio/thumb/portfolio_8.jpg" alt="" />
            </a>
            <a class="widget-folio" href="images/portfolio/portfolio_6.jpg" data-rel="prettyPhoto[gallery]">
                <img src="images/portfolio/thumb/portfolio_9.jpg" alt="" />
            </a>
            <a class="widget-folio" href="images/portfolio/portfolio_7.jpg" data-rel="prettyPhoto[gallery]">
                <img src="images/portfolio/thumb/portfolio_10.jpg" alt="" />
            </a>
            <a class="widget-folio" href="images/portfolio/portfolio_8.jpg" data-rel="prettyPhoto[gallery]">
                <img src="images/portfolio/thumb/portfolio_11.jpg" alt="" />
            </a>
            <a class="widget-folio" href="images/portfolio/portfolio_12.jpg" data-rel="prettyPhoto[gallery]">
                <img src="images/portfolio/thumb/portfolio_12.jpg" alt="" />
            </a>
        </div>
    </div>
</div>