<div class="widget-area">
    <div class="widget-area-content">
        <div class="widget">
            <h3 class="widget-title white">Mes talents cachés</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad amet assumenda aut culpa deleniti dolor doloribus, est facere hic in molestiae mollitia odio odit perspiciatis sint, suscipit tenetur ullam?
            </p>
        </div>
        <div class="widget">
            <h3 class="widget-title white">BLOG - les catégories</h3>
            <ul class="widget_categories">
                <li><a href="#">HTML/CSS</a></li>
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">PHP</a></li>
                <li><a href="#">GNU/Linux</a></li>
                <li><a href="#">Meet Up</a></li>
                <li><a href="#">Jobs</a></li>
            </ul>
        </div>
        <div class="widget">
            <h3 class="widget-title white">Les news</h3>
            <div class="widget_recent_post">
                <div class="recent-post-item">
                    <div class="blog-info">
                        <a href="blog-detail.html" class="title">Eligendi Cumque</a>
                        <span class="date">
									<i class="fa fa-calendar-o"></i>
									July 24th, 2016
								</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-area-social">
        <div class="widget-area-social-links">
            <div class="link facebook-link">
                <div class="link-background"></div>
                <div class="link-overlay"></div>
                <i class="fa fa-facebook"></i>
            </div>
            <div class="link twitter-link">
                <div class="link-background"></div>
                <div class="link-overlay"></div>
                <i class="fa fa-twitter"></i>
            </div>
            <div class="link instagram-link">
                <div class="link-background"></div>
                <div class="link-overlay"></div>
                <i class="fa fa-instagram"></i>
            </div>
            <div class="link youtube-link">
                <div class="link-background"></div>
                <div class="link-overlay"></div>
                <i class="fa fa-youtube"></i>
            </div>
            <div class="link linkedin-link">
                <div class="link-background"></div>
                <div class="link-overlay"></div>
                <i class="fa fa-linkedin"></i>
            </div>
            <div class="link google-link">
                <div class="link-background"></div>
                <div class="link-overlay"></div>
                <i class="fa fa-google"></i>
            </div>
        </div>
    </div>
</div>