<div class="widget-area">
    <div class="widget-area-content">
        <div class="widget">
            <h3 class="widget-title white">Mes talents cachés</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad amet assumenda aut culpa deleniti dolor doloribus, est facere hic in molestiae mollitia odio odit perspiciatis sint, suscipit tenetur ullam?
            </p>
        </div>
        <div class="widget">
            <h3 class="widget-title white">BLOG - les catégories</h3>
            <ul class="widget_categories">
                <li><a href="#">HTML/CSS</a></li>
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">PHP</a></li>
                <li><a href="#">GNU/Linux</a></li>
                <li><a href="#">Meet Up</a></li>
                <li><a href="#">Jobs</a></li>
            </ul>
        </div>
        <div class="widget">

        </div>
    </div>
</div>