{% extends "layouts/default.twig" %}

{% block title %}Accueil {% endblock %}

{% block content %}
    {% include('front/elements/slider.twig') %}
    <div class="section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6 p-0">
                    <div class="block-icon-box style-3 p-5 border text-center bg-gray-lighter">
                        <div class="icon">
                            <div class="icon-inner">
                                <i class="fa fa-diamond"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3 class="title">Un Service Premium</h3>
                            <p>
                                Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 p-0">
                    <div class="block-icon-box style-3 p-5 border text-center bg-white">
                        <div class="icon">
                            <div class="icon-inner">
                                <i class="fa fa-mobile"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3 class="title">Optimisé Pour Les Mobiles</h3>
                            <p>
                                Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 p-0">
                    <div class="block-icon-box style-3 p-5 border text-center bg-gray-lighter">
                        <div class="icon">
                            <div class="icon-inner">
                                <i class="fa fa-desktop"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3 class="title">Conception Sur Mesure</h3>
                            <p>
                                Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 p-0">
                    <div class="block-icon-box style-3 p-5 border-transparent text-center bg-white">
                        <div class="icon">
                            <div class="icon-inner">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3 class="title">Un Design Soigné</h3>
                            <p>
                                Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section pt-10 pb-20">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <div class="mt-12 hidden-sm"></div>
                        <p class="fz-14 ls-3 mb-2">CHAQUE DETAIL EST TRAITÉ AVEC UNE ATTENTION TOUTE PARTICULIÈRE</p>
                        <p class="fz-38 lh-40 ls-2 dark">VOUS & NetADN</p>
                        <div class="heading-line mt-4">
                            <div class="heading-line-inner"></div>
                        </div>
                        <p class="ls-1">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Adipisci cupiditate impedit ipsam pariatur saepe. Dolores facilis,<br> ipsam natus nisi quo veritatis voluptatum. Accusantium error <br>explicabo magni minima quisquam repudiandae voluptatum! </p>
                        <a href="{{ path('pages.about') }}" class="btn mt-4 mb-4 fw-bolder fz-14">Mes Super Pouvoirs</a>
                        <img src="images/laptop.png" alt="laptop" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-12 p-0">
                    <div class="bg-dark iconbox">
                        <div class="iconbox-inner pr-6 pl-6">
                            <p class="gray fz-12 fw-600 ls-1">design</p>
                            <h2 class="section-title white fz-44 lh-55">Une Expérience<br />vraiment dynamique</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 p-0">
                    <div class="iconbox text-center bg-white">
                        <div class="iconbox-inner">
                            <div class="icon">
                                <i class="fa fa-tablet color"></i>
                            </div>
                            <div class="content">
                                <div class="title">Compatibile Mobile et Tablette</div>
                                <div class="subtitle">Afin de touché plus de monde</div>
                            </div>
                            <div class="info">
                                Aujourd'hui il est primordiale d'avoir un site<br> parfaitement navigable sur toutes les devices quI existe.<br> Que ce soit un Mobile, Tablette, ou encore ordinateur<br> Toutes ces appareils sont des points d'entré pour votre business</div>
                            <div class="button">
                                <span>&nbsp;</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 p-0">
                    <div class="bg-dark iconbox">
                        <div class="iconbox-inner pr-6 pl-6">
                            <p class="gray fz-12 fw-600 ls-1"></p>
                            <h2 class="section-title white fz-44 lh-55">Notre Savoir Faire<br />A Votre Service</h2>
                            <div class="heading-line mt-2 mb-2">
                                <div class="heading-line-inner-2 ml-0 white"></div>
                            </div>
                            <p class="white">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem ipsam nostrum quae quisquam reprehenderit ullam vero. Alias deserunt dolore, ducimus esse eveniet ipsa maxime nam quos repellendus suscipit veniam.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section p-7">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="mt-8 hidden-sm hidden-xs hidden-tablet"></div>
                    <div class="text-center mb-4">
                        <img src="images/desk.png" alt="" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 pr-5 pl-5">
                    <div class="mt-8 hidden-sm hidden-xs hidden-tablet"></div>
                    <div class="section-title fz-54 lh-60 pt-7">
                        Sébastien Martinez<br />
                        <div id="typed-strings">
                            <p>Sérieux</p>
                            <p>Innovant</p>
                            <p>Performant</p>
                            <p>Flexible</p>
                        </div>
                        <span id="typed" class="color fw-bolder"></span>
                        <br />pour votre service
                    </div>
                    <div class="heading-line">
                        <div class="heading-line-inner ml-0"></div>
                    </div>
                    <p>
                        Mon amour du travail bien fait est mis à votre disposition pour votre projet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque autem earum eligendi error eveniet iste magni minus, molestias nam natus nisi numquam quam quasi qui sapiente tempore ut voluptate!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section pt-10 pb-6">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="section-title text-center fz-40 lh-40 fw-bolder ls-4 uppercase">JE RÉALISE DES SITES INTERNET</h2>
                    <div class="heading-line mb-0">
                        <div class="heading-line-inner"></div>
                    </div>
                    <div class="heading-line mln-1 mt-half">
                        <div class="heading-line-inner"></div>
                    </div>
                    <p class="section-desc text-center">
                        Vous cherchez un moyen de vous démarquer de la concurence<br />
                        Alors ne cherchez plus, vous êtes tombé au bon endroit
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="iconbox text-center">
                        <div class="iconbox-inner">
                            <div class="icon">
                                <i class="fa fa-tablet color"></i>
                            </div>
                            <div class="content">
                                <div class="title"></div>
                                <div class="subtitle">Consectetuer Adipiscing</div>
                            </div>
                            <div class="info">
                                A small river named Duden flows by their place and supplies it with the necessary regelialia. Which roasted parts of sentences fly into your mouth.
                            </div>
                            <div class="button">
                                <span>&nbsp;</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="iconbox text-center">
                        <div class="iconbox-inner">
                            <div class="icon">
                                <i class="fa fa-paint-brush color"></i>
                            </div>
                            <div class="content">
                                <div class="title">Graphic Design</div>
                                <div class="subtitle">Consectetuer Adipiscing</div>
                            </div>
                            <div class="info">
                                A small river named Duden flows by their place and supplies it with the necessary regelialia. Which roasted parts of sentences fly into your mouth.
                            </div>
                            <div class="button">
                                <span>&nbsp;</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="iconbox text-center">
                        <div class="iconbox-inner">
                            <div class="icon">
                                <i class="fa fa-fire color"></i>
                            </div>
                            <div class="content">
                                <div class="title">Powerful Framework</div>
                                <div class="subtitle">Consectetuer Adipiscing</div>
                            </div>
                            <div class="info">
                                A small river named Duden flows by their place and supplies it with the necessary regelialia. Which roasted parts of sentences fly into your mouth.
                            </div>
                            <div class="button">
                                <span>&nbsp;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section bg-pink-light pt-6 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <h2 class="section-title uppercase fw-bolder fz-24">Rencontrons nous</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur doloribus eligendi eos facilis ipsa labore maxime nostrum odio <br>officiis placeat quae qui quisquam sit, tempore vero. Aperiam cupiditate deserunt iste!</p>
                        <div class="heading-line mt-0 mb-5">
                            <div class="heading-line-inner-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section pt-13">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-8 hidden-sm hidden-xs"></div>
                    <h2 class="section-title">Apprenons à mieux nous connaître</h2>
                    <div class="heading-line mt-2 mb-1">
                        <div class="heading-line-inner-2 ml-0"></div>
                    </div>
                    <div class="heading-line mt-0">
                        <div class="heading-line-inner ml-0"></div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias animi architecto obcaecati odit officiis porro quas quisquam rerum sed vel, veritatis.
                    </p>
                    {% include 'front/elements/flash.twig' %}
                    {% include('front/contact/contact-form.twig') %}
                </div>
                <div class="col-md-6">
                    <div class="text-center-sm">
                        <img src="images/contact-men.jpg" alt="" class="mb-2" />
                    </div>
                    <div class="widget-area-social pb-1">
                        <div class="widget-area-social-links text-center mt-0">
                            <div class="link facebook-link">
                                <div class="link-background"></div>
                                <div class="link-overlay"></div>
                                <i class="fa fa-facebook"></i>
                            </div>
                            <div class="link twitter-link">
                                <div class="link-background"></div>
                                <div class="link-overlay"></div>
                                <i class="fa fa-twitter"></i>
                            </div>
                            <div class="link linkedin-link">
                                <div class="link-background"></div>
                                <div class="link-overlay"></div>
                                <i class="fa fa-linkedin"></i>
                            </div>
                            <div class="link google-link">
                                <div class="link-background"></div>
                                <div class="link-overlay"></div>
                                <i class="fa fa-google"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/modernizr-2.7.1.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type='text/javascript' src='js/waypoints.min.js'></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="js/jquery.equalheights.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-progressbar.min.js"></script>
    <script type="text/javascript" src="js/typed.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

    <script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.parallax.min.js"></script>
{% endblock %}