{% extends "layouts/default.twig" %}

{% block title %}Accueil {% endblock %}

{% block content %}
    {% include('front/elements/slider.twig') %}
    <div class="section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6 p-0">
                    <div class="block-icon-box style-3 p-5 border text-center bg-gray-lighter">
                        <div class="icon">
                            <div class="icon-inner">
                                <i class="fa fa-diamond"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3 class="title">Un Service Premium</h3>
                            <p>
                                Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 p-0">
                    <div class="block-icon-box style-3 p-5 border text-center bg-white">
                        <div class="icon">
                            <div class="icon-inner">
                                <i class="fa fa-mobile"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3 class="title">Optimisé Pour Les Mobiles</h3>
                            <p>
                                Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 p-0">
                    <div class="block-icon-box style-3 p-5 border text-center bg-gray-lighter">
                        <div class="icon">
                            <div class="icon-inner">
                                <i class="fa fa-desktop"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3 class="title">Conception Sur Mesure</h3>
                            <p>
                                Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 p-0">
                    <div class="block-icon-box style-3 p-5 border-transparent text-center bg-white">
                        <div class="icon">
                            <div class="icon-inner">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3 class="title">Un Design Soigné</h3>
                            <p>
                                Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section p-7">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="mt-8 hidden-sm hidden-xs hidden-tablet"></div>
                    <div class="text-center mb-4">
                        <img src="images/left_to_progressbar.jpeg" alt="" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 pr-5 pl-5">
                    <div class="mt-8 hidden-sm hidden-xs hidden-tablet"></div>
                    <div class="section-title fz-54 lh-60 pt-7">
                        Le plus<br />
                        <div id="typed-strings">
                            <p>Avancé</p>
                            <p>Flexible</p>
                            <p>Performant</p>
                            <p>Innovant</p>
                        </div>
                        <span id="typed" class="color fw-bolder"></span>
                        <br />pour votre service
                    </div>
                    <div class="heading-line">
                        <div class="heading-line-inner ml-0"></div>
                    </div>
                    <p>
                        Mon amour du travail bien fait est mis à votre disposition pour votre projet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque autem earum eligendi error eveniet iste magni minus, molestias nam natus nisi numquam quam quasi qui sapiente tempore ut voluptate!
                    </p>
                    <div class="progress-wraper group-progressbar mt-4">
                        <div class="block-progressbar">
                            <h3 class="progress-title">Sécurité</h3>
                            <div class="progresswrap">
                                <div role="progressbar" data-transitiongoal="91" class="progressbar"></div>
                            </div>
                        </div>
                        <div class="block-progressbar">
                            <h3 class="progress-title">Evolutif</h3>
                            <div class="progresswrap">
                                <div role="progressbar" data-transitiongoal="82" class="progressbar"></div>
                            </div>
                        </div>
                        <div class="block-progressbar">
                            <h3 class="progress-title">Fiabilité</h3>
                            <div class="progresswrap">
                                <div role="progressbar" data-transitiongoal="99" class="progressbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-bg-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12 p-0 equalheight normal-height-mobile-xs">
                    <img src="images/left_to_progressbar.jpeg" class="fullwidth" alt="" />
                </div>
                <div class="col-md-6 col-sm-12 pr-6 pl-6 equalheight normal-height-mobile">
                    <div class="dp-table fullwidth fullheight text-center">
                        <div class="ds-cell middle">
                            <h2 class="section-title white uppercase fw-normal fz-44 lh-55 mb-3">Top notch services</h2>
                            <p class="white mb-7">
                                Wonderful serenity has taken possession of my entire soul<br />
                                Like these sweet mornings of spring which I enjoy with my whole heart.
                            </p>
                            <div class="row">
                                <div class="col-sm-6 p-0">
                                    <div class="iconbox border-right border-bottom mh-250 text-center white">
                                        <div class="iconbox-inner">
                                            <div class="icon">
                                                <i class="fa fa-paint-brush"></i>
                                            </div>
                                            <div class="content">
                                                <div class="title">Graphic Design</div>
                                                <div class="subtitle">Tincidunt Tempus</div>
                                            </div>
                                            <div class="info">
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
                                            </div>
                                            <div class="button">
                                                <span>&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="iconbox border-right mh-250 text-center white">
                                        <div class="iconbox-inner">
                                            <div class="icon">
                                                <i class="fa fa-database"></i>
                                            </div>
                                            <div class="content">
                                                <div class="title">Premium Layers</div>
                                                <div class="subtitle">Tincidunt Tempus</div>
                                            </div>
                                            <div class="info">
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
                                            </div>
                                            <div class="button">
                                                <span>&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 p-0">
                                    <div class="iconbox border-bottom mh-250 text-center white">
                                        <div class="iconbox-inner">
                                            <div class="icon">
                                                <i class="fa fa-anchor"></i>
                                            </div>
                                            <div class="content">
                                                <div class="title">Modern Style</div>
                                                <div class="subtitle">Tincidunt Tempus</div>
                                            </div>
                                            <div class="info">
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
                                            </div>
                                            <div class="button">
                                                <span>&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="iconbox mh-250 text-center white">
                                        <div class="iconbox-inner">
                                            <div class="icon">
                                                <i class="fa fa-sliders"></i>
                                            </div>
                                            <div class="content">
                                                <div class="title">Easy Customisation</div>
                                                <div class="subtitle">Tincidunt Tempus</div>
                                            </div>
                                            <div class="info">
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
                                            </div>
                                            <div class="button">
                                                <span>&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section pt-10 pb-20">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <div class="mt-12 hidden-sm"></div>
                        <p class="fz-14 ls-3 mb-2">EVERY LAYER IS MADE WITH FULL ATTENTION</p>
                        <p class="fz-38 lh-40 ls-2 dark">Kameleon Amazing Layout &amp; Layers</p>
                        <div class="heading-line mt-4">
                            <div class="heading-line-inner"></div>
                        </div>
                        <p class="ls-1">
                            Far far away, behind the word mountains, far from the countries Vokalia and <br />Consonantia, there live the blind texts. Separated they live in Bookmarksgrove <br />right at the coast of the Semantics, a large language ocean. A small river named <br />Duden flows by their place and supplies it with the necessary regelialia
                        </p>
                        <a href="#" class="btn mt-4 mb-4 fw-bolder fz-14">Discover All Features</a>
                        <img src="images/image_1140x463.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section bg-pink-light pt-6 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <h2 class="section-title uppercase fw-bolder fz-24">Meet the Team</h2>
                        <p>Get to know the people who makes things happen</p>

                        <h4>(XSS, CRSF, SQL injection, session hijacking, upload possible de script php…).</h4>
                        <div class="heading-line mt-0 mb-5">
                            <div class="heading-line-inner-4"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <div class="team-img">
                            <div class="overlay"></div>
                            <img src="images/team/team_360x540.jpg" alt="" />
                        </div>
                        <div class="team-info">
                            <div class="title">
                                <div class="name">Patrick Winchester</div>
                                <div class="position">Designer</div>
                            </div>
                            <div class="team-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <div class="team-content">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <div class="team-img">
                            <div class="overlay"></div>
                            <img src="images/team/team_360x540.jpg" alt="" />
                        </div>
                        <div class="team-info">
                            <div class="title">
                                <div class="name">Johny Parker</div>
                                <div class="position">Web Developer</div>
                            </div>
                            <div class="team-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <div class="team-content">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <div class="team-img">
                            <div class="overlay"></div>
                            <img src="images/team/team_360x540.jpg" alt="" />
                        </div>
                        <div class="team-info">
                            <div class="title">
                                <div class="name">Dean Hattaway</div>
                                <div class="position">Founder</div>
                            </div>
                            <div class="team-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <div class="team-content">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiu
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section pt-6">
        Votre nom et prénom ;
        Une photo et/ou un logo ;
        Une phrase d’accroche qui vous ressemble ( exemple : “Martin Durand, le développeur qu’il vous faut !”) ;
        Un menu permettant de naviguer parmi l’ensemble des pages de votre site web ;
        Un formulaire de contact (à la soumission de ce formulaire, un email avec toutes ces informations vous serons envoyé) avec les champs suivants :
        - nom / prénom
        - email de contact
        - message
        un lien vers votre CV au format pdf ;
        et l’ensemble des liens vers les réseaux sociaux où l’on peut vous suivre (Github, LinkedIn, Twitter…).
        {% include('front/contact/contact-form.twig') %}
    </div>
    <div class="section pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="client-carousel" data-auto-play="true" data-desktop="7" data-laptop="5" data-tablet="4" data-mobile="2">
                        <div class="client-item">
                            <a href="#" target="_blank">
                                <img src="images/client/client_140x65.jpg" alt="" />
                            </a>
                        </div>
                        <div class="client-item">
                            <a href="#" target="_blank">
                                <img src="images/client/client_140x65.jpg" alt="" />
                            </a>
                        </div>
                        <div class="client-item">
                            <a href="#" target="_blank">
                                <img src="images/client/client_140x65.jpg" alt="" />
                            </a>
                        </div>
                        <div class="client-item">
                            <a href="#" target="_blank">
                                <img src="images/client/client_140x65.jpg" alt="" />
                            </a>
                        </div>
                        <div class="client-item">
                            <a href="#" target="_blank">
                                <img src="images/client/client_140x65.jpg" alt="" />
                            </a>
                        </div>
                        <div class="client-item">
                            <a href="#" target="_blank">
                                <img src="images/client/client_140x65.jpg" alt="" />
                            </a>
                        </div>
                        <div class="client-item">
                            <a href="#" target="_blank">
                                <img src="images/client/client_140x65.jpg" alt="" />
                            </a>
                        </div>
                        <div class="client-item">
                            <a href="#" target="_blank">
                                <img src="images/client/client_140x65.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/modernizr-2.7.1.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type='text/javascript' src='js/waypoints.min.js'></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="js/jquery.equalheights.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-progressbar.min.js"></script>
    <script type="text/javascript" src="js/typed.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

    <script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.parallax.min.js"></script>
{% endblock %}