<form class="comment-form">
    <div class="row">
        <div class="col-md-12">
            <textarea id="comment" name="comment" cols="45" rows="5" placeholder="Message *"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input id="author" name="author" type="text" value="" size="30" placeholder="Name *" class="mb-2">
        </div>
        <div class="col-md-4">
            <input id="email" name="email" type="email" value="" size="30" placeholder="Email *" class="mb-2">
        </div>
        <div class="col-md-4">
            <input id="url" name="url" type="text" value="" placeholder="Website">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <input name="submit" type="submit" id="submit" class="btn btn-alt btn-border" value="Submit">
        </div>
    </div>
</form>