<!doctype html>
<html lang="fr-FR">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
{% include 'front/elements/loader.twig' %}
{% include 'front/elements/search.twig' %}
{% include 'front/elements/widget.twig' %}
<div class="site">

    {% block nav %}
        {% include 'front/elements/nav.twig' %}
    {% endblock %}

    <div id="main">
        {% block content %}{% endblock %}
    </div>
    {% include 'front/elements/footer.twig' %}

</div>


<a id="backtotop" class="fa fa-chevron-up" href="javascript:void(0)"></a>

{# script('app.js') #}
{% block script %}
    <script type="text/javascript" src="http://netadn.dev/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://netadn.dev/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="http://netadn.dev/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://netadn.dev/js/modernizr-2.7.1.min.js"></script>
    <script type="text/javascript" src="http://netadn.dev/js/owl.carousel.min.js"></script>
    <script type='text/javascript' src='http://netadn.dev/js/waypoints.min.js'></script>
    <script type="text/javascript" src="http://netadn.dev/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="http://netadn.dev/js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="http://netadn.dev/js/jquery.equalheights.min.js"></script>
    <script type="text/javascript" src="http://netadn.dev/js/jquery.fitvids.js"></script>
    <script type='text/javascript' src='http://netadn.dev/js/slick.min.js'></script>
    <script type="text/javascript" src="http://netadn.dev/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="http://netadn.dev/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="http://netadn.dev/js/jquery.isotope.init.js"></script>
    <script type="text/javascript" src="http://netadn.dev/js/functions.js"></script>
    <script type="text/javascript" src="http://netadn.dev/js/script.js"></script>
{% endblock %}
</body>
</html>